.remote_track {
    display: grid;
    grid-column-end: span 6;
    grid-row-end: span 6;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
    grid-template-areas: "remote_track_controls" "remote_track_body";
    height: 100%;
}

.remote_track_controls {
    grid-area: remote_track_controls;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remote_track_controls span {
    padding-right: 10px;
    font-weight: bold;
}

.remote_track_body {
    grid-area: remote_track_body;
}

.remote_track_body video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}